<h5>
  Winstagram Feed</h5>
<br>
<% @posts.each do |post| %>
  <div class="">
    <%= image_tag post.image.url(:medium) %>
    <br>
    <%= post.caption %>
    <br>
    <%= link_to "Add Comments", new_post_comment_path(:post_id => post.id, :user_id => current_user.id) %>

  <% end %>
</div>
<br>